:root {
    --primary-color: rgba(34, 49, 63, 0.8);
    --primary-color-dark: rgba(27, 39, 50, 0.8);
    --primary-color-darker: rgba(34, 49, 63, 0.9);
    --background-color: #2e3d49;
    --text-color: #fff;
    --main-title-font-size-large: 3rem;
    --main-title-font-size-small: 2rem;
    --main-subtitle-font-size-large: 2rem;
    --main-subtitle-font-size-small: 1.5rem;
}

html {
    background-color: var(--background-color);
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background-color);
    visibility: hidden;
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

body.loaded {
    visibility: visible;
    opacity: 1;
}

nav.navbar {
    background-color: var(--primary-color);
    transition: background-color 0.3s, height 0.3s;
}

nav.navbar .nav-link {
    position: relative;
}

nav.navbar .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--primary-color-dark);
}

main.content {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--text-color);
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: background 0.5s ease-out;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.parallax-window {
    position: relative;
    background: url('path-to-your-background-image.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.wave-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.waves {
    width: 100%;
    height: auto;
    z-index: 1;
}

.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;
}

.form-section {
    z-index: 2;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    overflow-x: hidden;
}

.form-group {
    text-align: left;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
}

.form-group label i {
    margin-right: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.btn-primary {
    background-color: var(--primary-color-darker);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
}

.why-us {
    background-color: var(--primary-color);
    overflow-x: hidden;
}

.steps {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    text-align: left;
    overflow-x: hidden;
}


.step {
    position: relative;
    padding-left: 60px; /* Increase padding for larger circles */
    text-align: center; /* Center the steps */
    margin-bottom: 40px; /* Increase margin for better spacing */
}

.step h4, .step p {
    margin-left: 0; /* Remove left margin */
    font-size: 1.2rem; /* Increase font size for larger text */
}


.step p {
    font-size: 16px;
}

.main-title {
    font-size: var(--main-title-font-size-large);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: gold;
}

.main-subtitle {
    font-size: var(--main-subtitle-font-size-large);
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    color: gold;
}

@media (max-width: 768px) {
    .main-title {
        font-size: var(--main-title-font-size-small);
    }

    .main-subtitle {
        font-size: var(--main-subtitle-font-size-small);
    }

    .form-section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    main.content {
        background-attachment: scroll;
    }
}

@media (min-width: 768px) {
    .form-section {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .form-section {
        max-width: 40%;
    }
}

@media (orientation: landscape) {
    main.content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px 0;
    }

    .form-section {
        max-width: 70%;
    }
}

.stats {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 40px 0;
    text-align: center;
}

.stats .stat {
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}

.stats .stat-number {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(var(--primary-color-darker) 0%, transparent 0%);
    margin: 0 auto;
}

.testimonials {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
}

.testimonials .blockquote {
    border-left: none;
    margin: 0;
}

.testimonials .blockquote-footer {
    color: var(--primary-color-dark);
}

.testimonials .stars {
    color: var(--primary-color-dark);
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    margin-right: 15px;
}

nav.navbar {
    background-color: var(--primary-color);
    transition: background-color 0.3s, height 0.3s;
    height: auto; /* Allow the navbar to adjust its height */
    padding: 10px 0; /* Add some padding to the navbar */
    padding-left: 10px;
}

nav.navbar .navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

nav.navbar .navbar-brand img {
    max-height: 65px; /* Increase default max height by 15px */
    width: 95px; /* Maintain aspect ratio */
    transition: max-height 0.3s;
}

/* Responsive adjustments */
@media (min-width: 992px) {
    nav.navbar {
        height: 75px;
    }
    nav.navbar .navbar-brand img {
        max-height: 90px; /* Increase by 15px */
        object-fit: contain;
        max-width: 145px !important;
    }
}

@media (max-width: 991px) {
    nav.navbar {
        height: auto;
    }
    nav.navbar {
        position: relative;
    }
    .navbar-brand img {
        position: absolute;
        max-height: 65px; /* Increase by 15px */
        max-width: 75px !important;
    }
}

@media (max-width: 767px) {
    nav.navbar {
        height: auto;
    }
    nav.navbar {
        position: relative;
    }
    .navbar-brand img {
        position: absolute;
        max-height: 65px; /* Increase by 15px */
        max-width: 75px !important;
    }
}

@media (max-width: 575px) {
    nav.navbar {
        height: auto;
    }
    nav.navbar {
        position: relative;
    }
    .navbar-brand img {
        position: absolute;
        max-height: 65px; /* Increase by 15px */
        max-width: 70px !important;
    }
}


nav.navbar.shrink .navbar-brand img {
    height: 80px;
}

.request-quote {
    background-color: var(--primary-color-darker);
}

.contact {
    background-color: var(--primary-color-darker);
}

.contact i.fa-map-marker-alt {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.contact p {
    margin-bottom: 1rem;
}

.quote-section {
    background-color: var(--primary-color-darker);
}

.quote-section a.btn {
    margin-top: 1rem;
}


.request-quote .container, .contact .container {
    color: var(--text-color);
}

.request-quote h3, .contact h3, .contact p {
    margin-bottom: 0.5rem;
}

.step-circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    width: 40px; /* Increase circle size */
    height: 40px; /* Increase circle size */
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem; /* Increase font size for circle numbers */
}

.step-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px; /* Adjust to position below circle */
    width: 2px;
    height: 100%;
    background-color: var(--primary-color);
}

.step:last-child .step-line {
    display: none; /* Hide line after the last step */
}

.timeline {
    position: relative;
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
}

.timeline-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 2;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 20px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-item:nth-child(odd) .timeline-content {
    left: 55%;
    text-align: left;
}


.timeline-item:nth-child(odd)::after,
.timeline-item:nth-child(even)::after {
    content: '';
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline-item:nth-child(odd)::after {
    left: 100%;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.timeline-item:nth-child(even)::after {
    right: 100%;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

@media (max-width: 767px) {
    .timeline::before {
        left: 8px; /* Adjust position for mobile */
    }

    .timeline-item {
        padding-left: 20px; /* Adjust padding for mobile */
    }

    .timeline-icon {
        left: 0;
        transform: translateX(0); /* Adjust icon position for mobile */
    }

    .timeline-content {
        width: calc(100% - 60px); /* Adjust width for mobile */
        left: 20px; /* Adjust position for mobile */
        text-align: left; /* Ensure text alignment is left */
    }

    .timeline-item:nth-child(odd) .timeline-content,
    .timeline-item:nth-child(even) .timeline-content {
        left: 20px; /* Ensure content is aligned for mobile */
        right: auto;
        transform: translateX(0);
        text-align: left;
    }

    .timeline-item:nth-child(odd)::after,
    .timeline-item:nth-child(even)::after {
        left: 20px; /* Adjust after element for mobile */
        transform: translateX(0);
    }
}


.faq {
    background-color: var(--primary-color-darker);
    padding: 40px 20px;
    border-radius: 10px;
}

.faq .card {
    margin-bottom: 15px;
    border: none;
}

.faq .card-header {
    background-color: var(--primary-color-dark);
    border: none;
}

.faq .card-header .btn-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.faq .card-header .btn-link:hover {
    color: var(--primary-color-darker);
}

.faq .card-body {
    background-color: white;
    color: var(--primary-color-dark);
}

.faq .card-body {
    padding: 20px;
    border-top: 1px solid var(--primary-color-dark);
}

.faq .card-header .btn-link::after {
    content: '\25bc'; /* Down arrow */
    float: right;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.faq .card-header .btn-link.collapsed::after {
    transform: rotate(-90deg); /* Rotate arrow when collapsed */
}


/* Centering the navbar content */
.navbar-collapse {
    justify-content: center;
}

/* Navbar icons on larger screens */
.navbar-nav .nav-item.d-none.d-lg-inline-block .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item.d-none.d-lg-inline-block .nav-link i {
    margin-right: 5px;
}

/* Adding border between the items */
.nav-item.border-right {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

/* Adjust the padding of the border-right items */
.nav-item.d-none.d-lg-inline-block.border-right {
    padding-right: 15px;
    padding-left: 15px;
}

/* Adjust padding for the non-border items */
.nav-item.d-none.d-lg-inline-block {
    padding-left: 15px;
}


.spinner-border {
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: .75s linear infinite spinner-border;
}

#agreement {
    text-align: left;
}

.privacy-container {
    max-width: 800px;
    padding: 20px;
    background-color: var(--primary-color-darker);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.footer {
    background-color: var(--primary-color);
    padding-top: 32px;
    padding-bottom: 40px;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

.footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}



.glide {
    width: 100%;
    position: relative;
  }
  
  .glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .slide-content img {
    width: 50%; /* Take just under half of the container's width */
    height: auto;
    max-height: 700px; /* Limit the height to make both images the same height */
    object-fit: cover; /* Ensure the images cover the allocated space */
    border-radius: 10px; /* Optional: adds rounded corners */
  }
  
  .glide__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Allow click-through to images if needed */
  }
  
  .glide__arrow {
    background: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background */
    color: #fff; /* White arrow color */
    padding: 15px; /* Increase padding for a larger clickable area */
    border-radius: 50%;
    border: 2px solid #fff; /* White border for contrast */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for a 3D effect */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
    pointer-events: all; /* Ensure arrows are clickable */
  }
  
  .glide__arrow--left {
    left: 10px;
  }
  
  .glide__arrow--right {
    right: 10px;
  }
  
  /* Responsive Arrow Positioning */
  @media (max-width: 1024px) {
    .glide__arrows {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  @media (max-width: 768px) {
    .glide__arrows {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .glide__arrow {
      padding: 12px; /* Slightly reduce arrow size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .glide__arrows {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .glide__arrow {
      padding: 10px; /* Further reduce arrow size for mobile devices */
    }
  }
  

  /* Ensuring arrows are centered on image height */
  .glide__slide {
    position: relative; /* Ensure arrows are relative to the slide */
  }
  
  .glide__arrows {
    top: 50%;
    transform: translateY(-50%);
  }
  

  
  .slider-headline {
    text-align: center;
    margin: 40px 0; /* Adds margin to both top and bottom */
  }
  
  .slider-headline h2 {
    font-size: 2rem; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
    margin: 0;
    padding: 0;
  }
  
  .slider-headline h3 {
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #666; /* Adjust color as needed */
    margin: 10px 0 0 0; /* Adds more space between h2 and h3 */
    padding: 0;
  }
  

  .img-fluid {
    width: 140px;
    background: transparent;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.grid-bg {
    background-color: var(--primary-color);
    color: white;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.service-item {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.service-icon {
    font-size: 2em;
    color: #ffd700;
    margin-bottom: 10px;
}
.service-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 1rem;
}

.title-grid {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

.service-description {
    font-size: 0.9em;
    line-height: 1.4;
}


.icon-size {
    font-size: 2rem;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.link-color {
  color: #007bff !important;
  text-decoration: none;
  background-color: transparent;
}

.margin-top {
    margin-top: 30px;
    margin-bottom: 30px;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    visibility: visible;
}

.loader-wrapper.fade-out {
    opacity: 0;
    pointer-events: none;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    box-sizing: border-box;
}

.loader::before {
    border-top-color: gold;
    border-right-color: gold;
    animation: rotate 2s linear infinite;
}

.loader::after {
    border-bottom-color: white;
    border-left-color: white;
    animation: rotate 2s linear infinite reverse;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
